/* --------------------animation開始------------------- */
@keyframes iconMove
{
    0% {transform:translateY(0);}
    50% {transform:translateY(-5px);}
    100% {transform:translateY(0);}
}
/* --------------------animation結束------------------- */

/* --------------------pet_list開始------------------- */
.pet{
    width: 100%;
    background-color: #f1f3f4;
    padding-top: 80px;
}
.search_content{
    width: 80%;
    margin: 40px auto 60px auto;
    display: flex;
    justify-content: space-around;
}
.search_content img{
    width: 70px;
    height: 70px;
    margin: 16px 8px;
    cursor: pointer;
    transition: .3s;
}
.search_content img:hover{
    transform: scale(1.1);
}
.pet_list{
    width: 930px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.pet_style{
    width: 280px;
    box-shadow: 0 4px 10px rgba(14,14,14,.2);
    margin-bottom: 24px;
    cursor: pointer;
    margin: 0 15px 30px 15px; 
}
.pet_img{
    width: 280px;
    height: 373px;
    overflow: hidden;
}
.pet_img img{
    width: 100%;
    transition: .8s;
}
.all_icon{
    transform: scale(1.3);  
}
.pet_img img:hover{
    transform: scale(1.3);
}
.pet_detail{
    color: #262b2f;
    line-height: 1.5rem;
    background-color: #fff;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .3s;
}
.pet_detail:hover{
    background-color: #2abcb9;
    color: #fff;
}
.pet_icon{
    width: 50px;
    animation: iconMove 1.5s infinite;
    stroke: #2abcb9;
}
.transform{   
    transform: scale(1.3);
}
/* --------------------pet_list結束------------------- */

/* --------------------mobile開始------------------- */
@media (max-width: 930px){
    .pet_list{
        width: 620px;
    }
}
@media (max-width: 768px){
    .search_content{
        flex-wrap: wrap;
    }
    .search_content img{
        width: 56px;
        height: 56px;
    }
}
@media (max-width: 620px){
    .pet_list{
        width: 310px;
    }
}
/* --------------------mobile結束------------------- */
