body{
    font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
    transition: .5s;
}
/* --------------------header開始------------------- */
header{
    width: 100%;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 700;
    background-color: #2abcb9;
    box-shadow: 0 2px 3px rgba(14,14,14,.34);
    position: fixed;
    z-index: 800;
}
nav{
    width: 80%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
.logo h1{
    margin-left: 12px;
}
.menu{
    margin-left: -32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li a{
    text-decoration: none;
    text-align: center;
    padding: 16px 6px;
    margin-left: 32px;
    transition: .5s;
}
.menu li a:hover{
    border-bottom: 4px solid #018f8d;
}
a:link, a:visited{
    color: #fff;
}
.underline_none{
    border-bottom: 4px solid transparent;
}
.underline{
    border-bottom: 4px solid #018f8d;
}
.showmenu{
    display: none;
}
.bar{
    width: 32px;
    height: 5px;
    background: #fff;
    margin: 6px 0;
    border-radius: 2px;
}
.active .bar{
   transform: rotate(45deg); 
}
.active .bar1{
    -webkit-transform: translateY(17px) rotate(45deg);
    transform: translateY(17px) rotate(45deg);
}
.active .bar2{
    opacity: 0;
}
.active .bar3{
    -webkit-transform: translateY(-5px) rotate(135deg);
    transform: translateY(-5px) rotate(135deg);
}
.transition{
    transition: 0.4s ease-in-out;
}
/* --------------------header結束------------------- */

/* --------------------footer開始------------------- */
footer{
    background-color: #2abcb9;
    box-shadow: 0 -2px 3px rgba(14,14,14,.34);
    color: #fff;
    padding-bottom: 36px;
}
.footer_content{
    width: 70%;
    padding: 36px 0 0 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.footer_content h4{
    font-size: 1.2rem;
    font-weight: 600;
}
.footer_content ul{
    margin: 24px 0;
}
.footer_content li{
    margin: 16px 0; 
}
.footer_content li a{
    text-decoration: none;
}
.footer_content li a:hover{
    color: #018f8d;
}
footer p{
    font-size: 0.875rem;
    text-align: center;
}
/* --------------------footer結束------------------- */

/* --------------------top開始------------------- */
.top{
    position: fixed;
    right: 6%;
    bottom: 10%;
    cursor: pointer;
    display: none;
    z-index: 800;  
}
.top img{
    width: 50px;
}
/* --------------------top結束------------------- */

/* --------------------loading開始------------------- */
/* .loading{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 999;
    position: relative;
}
.loading div{
    position: relative;
}
.loading img{
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
} */
/* --------------------loading結束------------------- */

/* --------------------mobile開始------------------- */

@media (max-width: 768px){
/* menu */    
    .menu{
        /*隱藏選單開始*/
        
        /* 由上至下顯示 */
        /* max-height: 0; 
        top: 84px;
        left: 0;
        right: 0; */
        
        /* 由右至左顯示 */
        right: -1500px;
        
        overflow: hidden;
        /*隱藏選單結束*/

        background: #2abcb9;
        margin-top: 1px;
        position: absolute;
        /*絕對定位在網頁上*/
        display: flex;
        flex-direction: column;
        transition: 1s;
    }
    .menu li{
        float: none;
        width: 100%;
    }
    .menu li a{
        width: 100%;
        text-align: center;
        border: none;
        padding: 30px 0;
        float: none;
        display: inline-block;
    }
    .menu li a:hover{
        color: #2abcb9;
        background-color: #fff;
        border: none;
    }
    .showmenu{
        display: block;
        float: right;
    }
    .position:link, .position:visited{
        color: #2abcb9;
        background-color: #fff;
    }
    
    /*jQ：點擊showmenu後在body加上class */
    .menu-show .menu{
        /* 由上至下顯示，不用加位置 */
        /* max-height: 100vh; */
        
        /* 由右至左顯示 */
        top: 59px;
        left: 0;
        right: 0;
    }

/* footer */
    .footer_content{
        flex-direction: column;
        justify-content: center;
    }
    .tour, .time, .contact{
        margin: 16px 0;
    }
}
/* --------------------mobile結束------------------- */


