/* --------------------animation開始------------------- */
@keyframes iconMove
{
    0% {transform:translateY(0);}
    50% {transform:translateY(-5px);}
    100% {transform:translateY(0);}
}
/* --------------------animation結束------------------- */
/* --------------------search開始------------------- */
.search{
    width: 100%;
    padding-top: 60px;
    border-bottom: 3px solid #d5d5d5;
}
.search_content{
    width: 80%;
    margin: auto;
    padding: 40px 0 32px 0;
}
form{
    color: #2c2c2c;
    display: flex;
    justify-content: space-around;
}
select, input{
    font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
}
.type, .place{
    margin-bottom: 65px;
}
.search_btn{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn_search{
    width: 185px;
    height: 42px;
    font-size: 1.125rem;
    text-align: center;
    line-height: 2.75rem;
    color: #fff;
    background-color: #2abcb9;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(14,14,14,.2);
    margin-right: 469px;
    cursor: pointer;
}
.btn_search:hover{
    background-color: #1e8684;
}
.btn_all h5{
    color: #3e3e3e;
    text-decoration: underline;
    cursor: pointer;
}
/* --------------------search結束------------------- */

/* --------------------pet_list開始------------------- */
.pet{
    width: 100%;
    background-color: #f1f3f4;
}
.total{
    font-size: 1.125rem;
    font-weight: 700;
    color: #2c2c2c;
    text-align: center;
    padding-top: 32px;
    margin-bottom: 32px; 
}
.pet_list{
    width: 82%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.pet_style{
    width: 280px;
    box-shadow: 0 4px 10px rgba(14,14,14,.2);
    margin-bottom: 24px;
    cursor: pointer;
    margin: 0 15px 30px 15px; 
}
.pet_img{
    width: 280px;
    height: 373px;
    overflow: hidden;
}
.pet_img img{
    width: 100%;
    transition: .8s;
}
.pet_img img:hover{
    transform: scale(1.1);
}
.pet_detail{
    color: #262b2f;
    line-height: 1.5rem;
    background-color: #fff;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .3s;
}
.pet_detail:hover{
    background-color: #2abcb9;
    color: #fff;
}
.pet_icon{
    width: 50px;
    animation: iconMove 1.5s infinite;
    stroke: #2abcb9;
}
/* --------------------pet_list結束------------------- */